.container {
  padding: 0 2rem;
}

.title {
  margin: 2rem 0;
  line-height: 1.15;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.025em;
  text-align: center;
}

.playerWrapper {
  max-width: 800px;
  margin: 0 auto;
}

.message {
  text-align: center;
  padding-top: 2rem;
}

@media(min-width: 800px) {
  .title {
    font-size: 4rem;
  }
}
